* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    background-color: lightblue (0, 70%, 48%);
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 20%);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 540px;
    border: 2px solid hsl(0, 0%, 0%); 

    div {
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(0, 0%, 87%);
    }
}
